<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example &#8250; Gumok</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google" value="notranslate"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="gumok.min.js"></script>
</head>

<body>

<!-- Example gumokJS -->

<h1>{{title}}</h1>
<p>{{description}}</p>

<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Ubuntu);
body {
  background: #ebebeb;
  text-align: center;
}
h1 {
  color: #777e8c;
  font-family: "Fredoka One", sans-serif;
  font-size: 3.60em;
  font-weight: normal;
  margin-top: 1.20em;
}
p {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #707070;
}
</style>
</body>
</html>
